<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Elos Paraisopolis</title>

        <meta http-equiv="pragma" content="no-cache">
        <meta name="description" content="elosparaisopolis.com.br - Site sobre projeto desenvolvido para o mutualismo entre a comunidade Paraisopolis e bairro do Morumbi">
        <meta name="keywords" content="elosparaisopolis, elos, comunidade paraisopolis, bairro morumbi, são paulo, brasil">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/fonts/proximanova-fonts.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>
    <body onload="initialize()">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="navbar navbar-fixed-top">
            <div class="container">
                <a href="index.html">
                    <div class="logo-text">
                        <h1 class="ir logo animated">Projeto Elos Paraisópolis</h1>
                        <h3 class="ir">PARAISÓPOLIS</h3>
                    </div>
                </a>
                <nav class="pull-right">
                    <ul>
                        <li><a class="anchor" href="#aboutp" >SOBRE</a></li>
                        <li><a class="anchor" href="#howitworks" >COMO FUNCIONA</a></li>
                        <li><a class="anchor" href="#map" >MAPA DA REGIÃO</a></li>
                        <li><a class="anchor" href="#pics" >MOSTRE A SUA REALIDADE</a></li>
                        <li><a class="anchor" href="#whoa" >QUEM SOMOS</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="video" id="video">
            <i class="play animated flipInX"></i>
        </div>

        <div class="container" id="aboutp"> 

            <section class="about" >
                <h2 class="title">SOBRE O ELOS</h2>
                <h3 class="quote">“Colabore, incentive e dê visibilidade ao seu projeto na comunidade de Paraisópolis!”</h3>
            </section>

            <section class="how" id="howitworks">
                <h2 class="title">COMO FUNCIONA</h2>
                <div class="row">
                    <div class="box span4">
                        <div class="head picon">
                            <a href="#">
                                <i class="iconproject"></i>
                            </a>
                        </div>
                        <div class="txt">
                            <p>Quero enviar a ideia de um projeto para a organização de moradores de Paraisópolis.</p>
                            <a href="#" class="btnelo" data-reveal-id="myModal">Tenho um projeto</a>
                        </div>
                    </div>
                    <div class="box span4">
                        <div class="head iicon">
                             <a href="#">
                                <i class="iconidea"></i>
                            </a>
                        </div>
                        <div class="txt">
                            <p>Quero apoiar financeiramente ou participar de um projeto.</p>
                            <a href="#pesquisa" class="btnelo anchor" data-reveal-id="myModal2" data-toggle="chardinjs">Quero incentivar</a>
                            <!-- <a href="#" class="btn btn-large primary" data-toggle="chardinjs" data-position="right" data-intro="foo bar" >See it in action</a> -->
                        </div>
                    </div>
                    <div class="box span4">
                        <div class="head sicon">
                            <a href="#">
                                <i class="iconshare"></i>
                            </a>
                        </div>
                        <div class="txt">
                            <p>Quero divulgar um projeto na comunidade de Paraisópolis.</p>
                            <a href="#" class="btnelo" data-reveal-id="myModal3" data-toggle="chardinjs">Quero compartilhar</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="livemap" id="map">
                <h2 class="title">MAPA DA REGIÃO</h2>
                <div id="map_canvas"></div>
                <div class="row">
                    <section id="pesquisa"></section>
                    <input type="search" class="span12 searchinput" placeholder="ENCONTRE PROJETOS..." ng-model="searchText" data-position="top" data-intro="Pesquise ou visualize abaixo os projetos.">
                </div>
            </section>

            <section class="projects">

            <div class="comments-wrapper" ng-controller="ProjectsController">

                <div id="myModal" class="reveal-modal medium">
                    <div class="signinbar">
                        <h1 class="signintitle">Adicionar projeto</h1>
                    </div>
                    <div class="signinmodalwrap">
                        <form class="form-inline" name="formItem">
                            <h5 class="signinsubtitle">Cadastre o seu projeto para fazer parte e conribuir para o crescimento da comunidade.</h5>
                            <input type="text" placeholder="Nome do projeto" ng-model="project.nome" class="span6">
                            <input type="text" placeholder="Responsável" ng-model="project.author" class="span6">
                            <input type="text" placeholder="Contato" ng-model="project.contact" class="span6">
                            <textarea type="text" placeholder="Descrição" ng-model="project.desc" class="span6"></textarea>
                            <button tabindex="3" class="btn btn-success btn-large" ng-click="adicionaItem()">Adicionar</button>
                        </form>
                    </div>
                    <a class="close-reveal-modal">×</a>
                </div>

                <!-- <div id="myModal2" class="reveal-modal medium">
                    <div class="signinbar">
                        <h1 class="signintitle">Incentivar projeto</h1>
                    </div>
                    <div class="signinmodalwrap">
                        <form class="form-inline" name="formItem">
                            <h5 class="signinsubtitle">INcentive um projeto e faça parte do crescimento da comunidade.</h5>
                            <input type="text" placeholder="Nome" ng-model="parceiro.nome" class="span6">
                            <input type="text" placeholder="Telefone" ng-model="parceiro.author" class="span6">
                            <input type="text" placeholder="E-mail" ng-model="parceiro.contact" class="span6">
                            <div class="span2 masthead-links">
                                <label class="radio">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Financiar
                                </label>
                                <label class="radio pull-right">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Participar
                                </label>
                            </div>
                            <button tabindex="3" class="btn btn-success btn-large" ng-click="adicionaItem()">Adicionar</button>
                        </form>
                    </div>
                    <a class="close-reveal-modal">×</a>
                </div> -->

                <!-- <div id="myModal3" class="reveal-modal medium">
                    <div class="signinbar">
                        <h1 class="signintitle">Compartilhar projeto</h1>
                    </div>
                    <div class="signinmodalwrap">
                        <form class="form-inline">
                            <a class="btn btn-facebook" href="">Facebook</a>
                            <a class="btn btn-twitter" href="">Twitter</a>
                            <a class="btn btn-google-plus" href="">Google+</a>
                            <a class="btn btn-instagram" href="">E-mail</a>
                        </form>
                    </div>
                    <a class="close-reveal-modal">×</a>
                </div> -->

                <div class="row">
                    <div class="projectbox span3" ng-repeat="project in projects | filter:searchText">
                        <div class="phead">
                           <img src="img/orquestra_600_300.jpg" alt="Orquestra de Paraisópolis">
                        </div>
                        <div class="pcontent">
                            <h4 class="ptitle">{{ project.nome }}</h4>
                            <p>{{ project.desc }}</p>
                            <div class="sharebar">
                                <div class="sharebar">
                                <figure class="kudo kudoable" data-id="1">
                                    <a class="kudobject">
                                        <div class="opening">
                                            <div class="circle">&nbsp;</div>
                                        </div>
                                   </a>
                                   <a href="#kudo" class="count">
                                        <span class="num">45</span>                         
                                        <span class="txt">Elos</span>
                                    </a>                                
                                </figure>                            
                            </div><!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
                            <!-- AddThis Button END -->
                            <a href="#" class="btnelo" data-reveal-id="projectModal" data-position="right" data-intro="Entre em contato com o projeto que você deseja incentivar.">ENTRAR EM CONTATO</a>     
                        </div> 
                        <div id="projectModal" class="reveal-modal medium">                            
                                <div class="signinbar">
                                    <h4 class="signintitle">{{ project.nome }}</h4>          
                                </div>                            
                                <div class="signinmodalwrap">                                
                                    <div class="phead">                                    
                                        <img src="img/orquestra_600_300.jpg" alt="Orquestra de Paraisópolis">                                
                                    </div>                                    
                                    <p>Para incentivar ou ajudar esse projeto a crescer, entre em contato</p>                                    
                                    <p class="author">Responsável: {{ project.author }}</p>                                    
                                    <p>{{ project.contact }}</p>                                                             
                                </div>                            
                                    <a class="close-reveal-modal">×</a>                        
                                </div>
                                
                            </div>
                    </div>
                </div>
            </div>
                
            </section>

            <section class="insta" id="pics">
                <h2 class="title">MOSTRE A SUA REALIDADE </h2>
                <p class="subtitle">Utilize a hashtag #elosparaisopolis para postar as fotos dos projetos que você participa ou visitou.</p>
                <hr>
                <div id="instafeed"></div>
            </section>

            <section class="aboutw" id="whoa">
                <div class="row">
                    <div class="who span7">
                        <h2 class="title">QUEM SOMOS</h2>
                        <div class="whopic">
                            <div class="overlay"></div>
                            <div class="sharelinks">
                                <ul>
                                    <li><a href="#" class="ficon"></a></li>
                                    <li><a href="#" class="gicon"></a></li>
                                    <li><a href="#" class="instagramicon"></a></li>
                                    <li><a href="#" class="ticon"></a></li>
                                </ul>
                            </div>
                            <img src="img/bpic_222_222.jpg" alt="Bruno Flora">
                            <h4>BRUNO FLORA</h4>
                        </div>
                        <div class="whopic">
                            <div class="overlay"></div>
                            <div class="sharelinks">
                                <ul>
                                    <li><a href="#" class="ficon"></a></li>
                                    <li><a href="#" class="gicon"></a></li>
                                    <li><a href="#" class="instagramicon"></a></li>
                                    <li><a href="#" class="ticon"></a></li>
                                </ul>
                            </div>
                            <img src="img/jpic_222_222.jpg" alt="Junior Magalhães">
                            <h4>JUNIOR MAGALHÃES</h4>
                        </div>
                        <div class="whopic">
                            <div class="overlay"></div>
                            <div class="sharelinks">
                                <ul>
                                    <li><a href="#" class="ficon"></a></li>
                                    <li><a href="#" class="gicon"></a></li>
                                    <li><a href="#" class="instagramicon"></a></li>
                                    <li><a href="#" class="ticon"></a></li>
                                </ul>
                            </div>
                            <img src="img/zpic_222_222.jpg" alt="José Carlos">
                            <h4>JOSÉ CARLOS</h4>
                        </div>
                    </div>
                    <div class="aboutw span5">
                        <h2 class="title">IDEALIZAÇÃO</h2>
                        <p>Através de pesquisas realizadas na região, nós, estudantes do curso de Bacharelado em Design Digital do Centro Universitário Senac, São Paulo, dentro do Projeto Informar, criamos o projeto Elos.</p>
                        <p>Este, nasceu com o intuito de colaborar com a comunidade de Paraisópolis na divulgação e incentivo aos projetos sociais desenvolvidos pelas instituições dentro da comunidade, dando visibilidade e possibilidade de buscar parceiros e colaboradores, gerando um ciclo colaborativo entre a comunidade, os bairros vizinhos e a cidade como um todo.</p>
                        <p><b>APOIO</b></p>
                        <p>Agradecemos o apoio dos professores de projeto do Centro Universitário Senac - Beatriz Pacheco, Eduardo Braga e demais mestres do curso de Design Digital e também do vice-presidente da União dos Moradores e do Comércio de Paraisópolis, Joildo Santos.</p>
                    </div>
                </div>
            </section>

            <hr>

            <div class="apoio-elos">
                <h2 class="title">REALIZAÇÃO E APOIO</h2>
                <ul class="unstyled">
                    <li><img src="img/apoio.png" alt=""></li>
                </ul>
            </div>

            <hr>

            <footer>
                <p class="text-center">&copy; Copyleft - Léxico 2013</p>
            </footer>

        </div> <!-- /container -->
    
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&region=BR"></script>
        

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/jquery.reveal.js" type="text/javascript"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
